.bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  animation: float 8s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}
@keyframes floatSlow {
  0% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

.animate-bounce-slow {
  animation: floatSlow 8s ease-in-out infinite;
}

